body,
html {}

body {
    margin: 0;
    padding: 10px;
}

.container-1 {
    background-image: url(11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: aliceblue;
    align-items: center;
}

.title-container-1 {
    padding-top: 10%;
    padding-bottom: 3%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraph-container-1 {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

button {
    background-color: rgb(218, 125, 3);
    font-size: 20px;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    float: right;
    margin-right: 10%;
}

.conference {
  color: brown;
}

#container2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.leftcont2 {
  width:46%;
  margin-left: 3%;
}

.leftcont2photo {
  background-image:url(img/wara.jpg);
  background-size: cover;
  height: 350px;
  background-repeat:no-repeat;
}

.leftcont2photo h1 {
  padding-top: 19%;
  font-size: 50px;
  color:white;
}

.leftcont2text {
  text-align:justify;
  color: blue;
  margin-top: 4%;
}

.leftcont2text a {
  color:red;
}

@media only screen and (max-width: 600px) {
  .leftcont2{
    width: 94%;
  }
  }

.rightcont2 {
  width: 46%;
  margin-left: 3%;
}

.rightcont2photo {
  background-image:url(img/Gofa.jpg);
  background-size: cover;
  height: 350px;
  background-repeat:no-repeat;
}

.rightcont2photo h1 {
  padding-top: 19%;
  font-size: 50px;
  color:white;
}

.rightcont2text {
  text-align:justify;
  color: blue;
  margin-top: 4%;
}

.rightcont2text a {
  color:red;
}

@media only screen and (max-width: 600px) {
  .rightcont2{
    width: 94%;
  }
  }

.container-3 {
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
}

.img-container-3 {
    height: 500px;
    width: 500px;
    background-image: url(4.jpg);
    background-size: cover;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
}

.text-container-3 {
    width: 500px;
    height: 500px;
    margin: 2%;
}

.text-container-3 h1 {
    color: brown;
    border-bottom: 2px solid brown;
    box-shadow: -10px 10px 10px rgb(73, 72, 72);
}

.img-container-3 h1 {
    margin-top: 50%;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.button1 {
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: bold;
}

header {
    height: 10%;
    margin: 0px;
}

ul {
    margin-left: 40%;
}

li {
    color: white;
    display: inline;
    font-weight: bold;
    list-style-type: none;
    padding-right: 8px;
    text-decoration: none;
}

#h1 {
    color: black;
    display: inline;
    margin-top: 2%;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 10%;
    bottom: 0;
    margin: 0;
    color: white;
    background-color: gray;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container-3 {
        margin-left: 0;
    }
    #h1 {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 600px) {
    ul {
        margin-left: auto;
    }
}

.branphoto {
    align-items: center;
    width: 70%;
    margin-left: 15%;
}

h1 {
    text-align: center;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
}

.branchestable h1 {
    text-align: center
}

.branchestable {
    margin-top: 5%;
    margin-bottom: 10%;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: gray;
}

.comment {
    background-color: lightgray;
    width: 50%;
    height: 40%;
    font-size: 25px;
    margin-top: 1%;
    margin-left: 2%;
}

.button {
    width: 20%;
    height: 5%;
    display: block;
    margin-top: 1%;
    margin-left: 16%;
}
