
#body{
  display: flex;

  flex-wrap: wrap

}
.bodytext {

    width: 30%;
    text-align:justify;
  margin-right: 0;


}

.bphoto {
    display: flex;
    float: right;
    width: 50%;
  margin-left: 0;



}

.head{
  background-color: gray;
  height: 10%;
  margin: 0px;
}

ul{
  float: right;
  margin-right: 5px;
  margin-top: 0;


}
li{
  color: white;
  display: inline;
  list-style-type: none;
  padding-right:  5px;

  text-decoration: none;
}
#h1{
  color: black;
 display: inline;
 float: left;
 margin-top: 0;

}
a{
  color: white;
}
@media only screen and (min-width: 600px) {
  #h1::before{
    content: "Apostolic Church of Ethiopia";

  }

}
@media only screen and (max-width: 600px) {
  #h1::before{
    content: "ACE";

  }

}
@media only screen and (max-width: 600px) {
  .bodytext{
    width: 90%

  }

  }
